nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
  list-style-type: none;
}

.grid-layout {
    display: grid;
    /* 480px looks good on desktop, maybe 240px for mobile?! */
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    grid-template-rows: masonry; /* Still experimental on FF */
    grid-gap: 1px;
    /*
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    */
    padding: 1px;

}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    color: #000;
    background-color: #ccc;
    border-radius: 10px;
}

.grid-item img {
    width: 100%;
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
}

.note {
    border: solid 1px black;
}

/* Expand the note title across the whole note so clicking it immediately
 * leads to the note itself */
.note a.title {
    font-size: 12pt;
    font-weight: bold;
    position: static;
    text-decoration: inherit;
    color: black;
    /* expand the pseudo-element to cover the note area */
    &::before {
        content: "";
        position: absolute;
        z-index: 0; /* we'll elevate inner links above that */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* ... */
        text-decoration: inherit;
    }
}

/* Limit the maximum display size of a single note to ~20 lines */
.content {
    @supports (-webkit-line-clamp: 10) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
    }
}

/* Make links within a note directly clickable */
.content a {
    position: relative;
    z-index: 1;
}

/* Make audio within a note directly clickable */
.content audio {
    position: relative;
    z-index: 1;
}

/* Make video within a note directly clickable */
.content video {
    position: relative;
    z-index: 1;
}

.single-note {
  display: flex;
  flex-direction: column;
  width: 100%;
 }

.single-note .title {
    font-size: 24pt;
}

.single-note img {
    max-width: 100%;
}

a.editable {
    color: #bbb;
    text-decoration: none;
}

.xcontainer > textarea {
  /* box-sizing: border-box; /* fit parent width */
  flex: 1;
  height: 100%;
  width: 100%;
}

.color-circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.pinned {
    transform: rotate(-45deg);
    font-weight: bold;
}

.label:not(:hover) .delete-label {
    visibility: hidden;
}

/* So the label takes up the whole width of the popup menu */
.edit-label label {
    width: 100%;
}

.sidebar-current {
    background-color: green;
}
